/* start custom scss snippet */

.custom-table {
   width: 100%;
}

.custom-table th, .custom-table td {
   padding: 1px 8px;
   text-align: center;
}

.no-border td {
   border: none;
}

/* end custom scss snippet */
